<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Instaphoto</title>
</head>
<body>

<h1>Instaphoto</h1>

<div>
    <form id="form" action="/" method="post">
        <label for="login">Login:</label>
        <input name="login" id="login" />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <a href="/register">Register</a>
        <a href="#" onclick="form.submit();">Login</a>
    </form>
</div>

</body>
</html>
